@import 'utilities.css';

:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary: #070606;
}

body{
    font-family: 'Poppins',sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --webkit-font-smotthing: antialiased;
}



header{
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 90%, 0 100%);
}

.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

header nav .left a{
    color:  var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: 0.3;
}

header nav .left a:hover{
    color: var(--primary);
}

header nav{
    padding: 2rem 0;
}

header nav .branding{
    margin-right: 3rem;
}

.btn{
    padding:0.8rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-primary{
    background: var(--primary);
    color: var(--secondary);
}

.btn-primary:hover{
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
}

.hero .left img{
    width: 400px;
}

.me .right{
    color: var(--pure);
}

.me .right h1{
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.me .right h1 span{
    color: var(--primary);
}

.me .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}





.basic{
    width: auto;
    margin: auto;
    text-align: center;
    padding-top: 100px;
     
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    
}


.col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3{
    text-align: center;
    font-weight: 600; 
    margin: 10px 0;
    
}

.col:hover{
    box-shadow: 0 0 20px 0px rgba( 0,0,0,0.7);
}


section.footer{
    text-align: center;
    margin-top: 6rem;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/camera.png);
    color: var(--pure);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 65% 75%, 0 100%);
    padding-bottom: 12rem;
}

section.footer h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
section.footer p{
    margin-bottom: 2rem;
    font-family: 'Lato',sans-serif;
}

.col{
    margin-top: 7rem;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 20px 12px;
    box-sizing: border-box;
}

 .col p{
     font-family: 'Lato';
     font-size: 1rem;
 }
